.card-page__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 0.75rem;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.add-card-btn__container,
.searchterm__container {
  display: flex;
  justify-content: flex-end;
}

.searchterm__container > .input-group {
  max-width: none;
}

.cards__container {
  --repeat: 1;
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  gap: 2rem;
}

.empty-cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .card-page__container {
    justify-content: flex-end;
    padding: 2rem;
  }

  .searchterm__container > .input-group {
    max-width: 300px;
  }
  .cards__container {
    --repeat: 2;
  }
}

@media (min-width: 992px) {
  .cards__container {
    --repeat: 3;
  }
}
