<div class="user-management-page">
  <div class="actions__container">
    <button class="btn btn-primary" (click)="openAddModal()">เพิ่ม</button>
  </div>
  <div class="user-list-table__container table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Operation</th>
          <th scope="col">HN เจ้าของ</th>
          <th scope="col">ชื่อเจ้าของ</th>
          <th scope="col">เบอร์ติดต่อ</th>
          <th scope="col">อีเมล</th>
        </tr>
      </thead>
      <tbody>
        @for (user of userResult.users; track user.id; let index = $index) {
        <tr>
          <td>
            <div class="operations">
              <button class="btn btn-secondary" (click)="openEditModal(user)">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteUser(user)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
          <td>{{ user.hn }}</td>
          <td>
            <a href="javascript: void(0)" (click)="openEditModal(user)">
              {{ user.fullname }}
            </a>
          </td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.email }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" style="text-align: center">No users found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="pagination__container">
    <ngb-pagination
      [collectionSize]="userResult.total"
      [(page)]="page"
      [pageSize]="size"
    >
    </ngb-pagination>
  </div>
</div>
