.card__container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__container > .image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container > .image__container > img {
  width: 100%;
  object-fit: cover;
}

.card__container > .name__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
}
